WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/CodeChunks.db
WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
WinFormsApp1/.vs/WinFormsApp1/DesignTimeBuild/.dtbcache.v2
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/5f8462f6-bf73-46e7-aae6-a76456452b7c.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/8e184122-47c4-464b-ba74-6c663b7c50fb.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/8fad5b1c-57ed-4211-9a6f-53178859f713.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/9b10d1cc-0c7b-444e-8139-e86e4c830d3a.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/38fdd77a-33e9-4ae5-83e7-dd428de85897.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/51ea6994-a85d-4016-85e5-c569a9afc0a8.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/953bcc28-3bc6-44d7-95fe-89c875b21a2b.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/9487c028-7792-4fce-a10a-f4ac8220daa6.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/64763c76-9976-4799-8960-649f1ae7f9bb.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/981432ee-d734-40c9-8af9-3d0732447b69.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/a0c258c1-62cc-4ab9-9c0c-f50cb21edf5f.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/afd0958e-430a-49a0-a967-af707fa4a3bd.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/bc14b46c-995f-47e7-98f3-266ef5f879a5.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/c831fc80-3f55-41e9-ab06-74a77ac2f9a0.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/c3901806-63bd-4340-b69a-9085e19bf508.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/cabee052-dbd3-4940-bc6e-0dbb4eb0bacb.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/e3fa6ac5-33db-4f85-9133-607ca800ea10.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/e9465247-3472-4c6c-a6a9-13f63d92ee36.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/ee6e7306-e84e-431d-97bf-9c83513ba888.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/ef80f54e-d639-4639-a8a5-3166b70891f7.vsidx
WinFormsApp1/.vs/WinFormsApp1/v17/.suo
WinFormsApp1/.vs/WinFormsApp1/v17/DocumentLayout.backup.json
WinFormsApp1/.vs/WinFormsApp1/v17/DocumentLayout.json
WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/CodeChunks.db
WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
WinFormsApp1/.vs/WinFormsApp1/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
WinFormsApp1/.vs/WinFormsApp1/DesignTimeBuild/.dtbcache.v2
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/5f8462f6-bf73-46e7-aae6-a76456452b7c.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/8fad5b1c-57ed-4211-9a6f-53178859f713.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/51ea6994-a85d-4016-85e5-c569a9afc0a8.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/953bcc28-3bc6-44d7-95fe-89c875b21a2b.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/9487c028-7792-4fce-a10a-f4ac8220daa6.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/64763c76-9976-4799-8960-649f1ae7f9bb.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/981432ee-d734-40c9-8af9-3d0732447b69.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/a0c258c1-62cc-4ab9-9c0c-f50cb21edf5f.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/afd0958e-430a-49a0-a967-af707fa4a3bd.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/bc14b46c-995f-47e7-98f3-266ef5f879a5.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/c831fc80-3f55-41e9-ab06-74a77ac2f9a0.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/c3901806-63bd-4340-b69a-9085e19bf508.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/cabee052-dbd3-4940-bc6e-0dbb4eb0bacb.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/e3fa6ac5-33db-4f85-9133-607ca800ea10.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/e9465247-3472-4c6c-a6a9-13f63d92ee36.vsidx.baiduyun.uploading.cfg
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/ee6e7306-e84e-431d-97bf-9c83513ba888.vsidx
WinFormsApp1/.vs/WinFormsApp1/FileContentIndex/ef80f54e-d639-4639-a8a5-3166b70891f7.vsidx
WinFormsApp1/.vs/WinFormsApp1/v17/.suo
WinFormsApp1/.vs/WinFormsApp1/v17/DocumentLayout.backup.json
WinFormsApp1/.vs/WinFormsApp1/v17/DocumentLayout.json
# 忽略WebView2缓存文件
WinFormsApp1/WinFormsApp1/bin/
WinFormsApp1/WinFormsApp1/obj/
# 或者更具体地
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/WebView2/

# 忽略配置文件（包含敏感信息）
**/App.config
**/Web.config
**/appsettings.json

# 忽略obj文件夹
**/obj/

**/.cursor
WinFormsApp1/RelayServer/bin/Debug/net8.0/RemoteControl.RelayServer.dll
WinFormsApp1/RelayServer/bin/Debug/net8.0/RemoteControl.RelayServer.exe
WinFormsApp1/RelayServer/bin/Debug/net8.0/RemoteControl.RelayServer.pdb
